.tif filter=lfs diff=lfs merge=lfs -text
.shp filter=lfs diff=lfs merge=lfs -text
.cpg filter=lfs diff=lfs merge=lfs -text
.prj filter=lfs diff=lfs merge=lfs -text
.dbf filter=lfs diff=lfs merge=lfs -text
.shx filter=lfs diff=lfs merge=lfs -text
.qmd filter=lfs diff=lfs merge=lfs -text
.ipynb filter=lfs diff=lfs merge=lfs -text
C:/Users/gagan/OneDrive/Desktop/GMU/DAEN_690/DAEN690_Final_Project/DAEN690-Team_Boundary_Busters/U-Net/NDVI_Clipped/AOI_NDVI_multidate_stack.tif filter=lfs diff=lfs merge=lfs -text
